/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding: 20px; /* Optional: add some padding around the container */
  background-color: #f5f5f5; /* Optional: add a background color */
  background-image: url('/src/assets/background.jpg'); /* Add background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.App h1 {
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text inside the h1 */
  color: #35107f; /* Set text color */
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Optional: make the text bold */
}
.main-content{

  background-image: url('/src/assets/background.jpg'); /* Add background image */
}