@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

/* Background color for the entire page */
body {
  background-image: url('/src/assets/background.jpg'); /* Add background image */

  color: #fff; /* White text color for better contrast */
  font-family: Arial, sans-serif; /* Font for better readability */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

/* Container Styling */
.form-container {
  max-width: 650px;
  margin: 15px auto; /* Center container horizontally with vertical margin */
  padding: 20px;
  border: 2px solid #3954a4; /* Primary color for border to ensure consistency */
  border-radius: 8px;
  background-color: #ffffff; /* White background for form container for readability */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Optional: Responsive Design */
@media (max-width: 768px) {
  .form-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}



/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #35107f; /* Deep purple for labels to match the theme */
}

/* Input styling */
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #088395; /* Warm orange border for inputs */
  border-radius: 4px;
}

/* Button styling */
.form-group button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /* White text color for buttons */
  background-color:#3d77b5; /* Deep purple background for buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button hover effect */
.form-group button:hover {
  background-color: #3d77b5; /* Warm orange background on hover */
}