

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.french-label {
  text-align: left;
  flex: 1;
  margin-right: 1rem;
}

.arabic-label {
  text-align: right;
  flex: 1;
  margin-left: 1rem;
  direction: rtl;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #3d77b5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Custom style for Export Excel button */
button.export-excel {
  background-color: #1a8e4a;
}

button.export-excel:hover {
  background-color: #1a8e4a;
}

